<div class="holder-class">
  <h4>Technical skills</h4>
  <div class="text-format" *ngFor="let technicalSkill of technicalSkills" >
    <li>{{ technicalSkill }}</li>
  </div>
</div>

<div class="holder-class">
  <h4>Languages</h4>
  <div class="text-format"
    *ngFor="let language of languages" >
    <li>{{ language }}</li>
  </div>
</div>

<div class="holder-class">
  <h4>Personal skills</h4>
  <div class="text-format" *ngFor="let personalSkill of personalSkills" >
    <li>{{ personalSkill }}</li>
  </div>
</div>
