<div class="holder-class">
  <h4 style="text-align: left; font-weight: bold">Technical skills</h4>
  <div *ngFor="let technicalSkill of technicalSkills" style="text-align: left">
    <li>{{ technicalSkill }}</li>
  </div>
</div>

<div class="holder-class">
  <h4 style="text-align: left; font-weight: bold">Languages</h4>
  <div *ngFor="let language of languages" style="text-align: left">
    <li>{{ language }}</li>
  </div>
</div>

<div class="holder-class">
  <h4 style="text-align: left; font-weight: bold">Personal skills</h4>
  <div *ngFor="let personalSkill of personalSkills" style="text-align: left">
    <li>{{ personalSkill }}</li>
  </div>
</div>
